@import "vars"
@import "fonts"
@import "libs"

*
	padding: 0
	margin: 0

*,*:before,*:after
	box-sizing: border-box

::placeholder
	color: #777

::selection
	background-color: $accent
	color: #fff

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.65
	font-family: $default-font
	overflow-x: hidden
	color: $text
	input, textarea
		border: #777 1px solid
		outline: none
		&:focus:required:invalid
			border-color: red
		&:required:valid
			border-color: green

.img-responsive
	display: block
	max-width: 100%
	height: auto
	&.img-width
		width: 100%

.text-center
	text-align: center

b, strong
	font-weight: bold

.wrapper
	position: relative
	width: 100%
	max-width: 1920px
	height: auto
	margin: 0 auto

.container
	max-width: 1170px
	width: 100%
	margin: 0 auto
	height: 100%
	@media (max-width: 1170px)
		padding: 0 20px

.title
	font-family: PlayfairDisplayRegular, sans-serif
	font-size: 32px
	font-weight: 400
	line-height: 43px
	color: $text

.button
	display: inline-block
	text-align: center
	height: 64px
	background-color: $accent
	color: $white
	text-transform: uppercase
	text-decoration: none
	font-family: RobotoMedium, sans-serif
	font-size: 12px
	font-weight: 500
	line-height: 14px
	letter-spacing: 0.05em
	padding: 26px 38px

.collection
	display: flex
	align-items: center
	margin-bottom: 80px
	&__col
		@media (max-width: 1170px)
			width: 50%
	&__col:nth-of-type(2)
		margin-left: -60px
	&__title
		font-size: 45px
		font-weight: 400
		line-height: 1
		padding-left: 65px
		margin: 0 0 15px
		position: relative
		z-index: 10
	&__title::before
		content: ''
		position: absolute
		width: 50px
		height: 1px
		background-color: #8B8371
		left: 0
		top: 0
		bottom: 0
		margin: auto
	&__sub-title
		font-size: 30px
		font-weight: 400
		line-height: 40px
		padding-left: 65px
		margin-bottom: 40px
	&__text
		font-family: RobotoLight, sans-serif
		font-size: 14px
		font-weight: 300
		line-height: 21px
		color: $text
		opacity: 0.82
		padding-left: 65px
		margin-bottom: 65px
	&__btn
		margin-left: 65px
	&__img-wrapper
		position: relative
	&__img
		@media (max-width: 1170px)
			width: 100%
	&__price
		font-family: Prata, sans-serif
		color: $text
		font-size: 16px
		font-weight: 400
		line-height: 22px
		position: absolute
		top: 150px
		left: 115px
		@media (max-width: 1170px)
			display: none
	&__price-rub
		font-family: Prata, sans-serif
		color: $text
		font-size: 16px
		font-weight: 400
		line-height: 22px
		padding-right: 65px
		position: relative
	&__price-rub::after
		content: ''
		position: absolute
		width: 50px
		height: 1px
		background-color: #8B8371
		right: 0
		top: 0
		bottom: 0
		margin: auto
	&__diameter
		font-family: Prata, sans-serif
		color: $text
		font-size: 16px
		font-weight: 400
		line-height: 22px
		position: absolute
		right: -135px
		bottom: 130px
		@media (max-width: 1170px)
			display: none
	&__diameter-line
		position: relative
		padding-left: 65px
	&__diameter-line::before
		content: ''
		position: absolute
		width: 50px
		height: 1px
		background-color: #8B8371
		left: 0
		top: 0
		bottom: 0
		margin: auto

.popular
	margin-bottom: 85px
	&__title
		text-align: center
	&__more-link
		text-decoration: none
		font-family: RobotoMedium, sans-serif
		font-size: 16px
		font-weight: 500
		line-height: 19px
		color: $accent
		display: block
		max-width: 104px
		border-bottom: 1px solid #C4C0B6
		padding: 11px 0
		margin-left: auto
		margin-bottom: 25px
	&__row
		display: grid
		grid-template-columns: repeat(auto-fill, 370px)
		justify-content: center
	&__cart
		background-color: #FDFDFB
		padding: 40px 36px
	&__cart-title
		font-family: PlayfairDisplayBold, sans-serif
		font-size: 14px
		font-weight: 700
		line-height: 24px
		letter-spacing: 0.03em
		color: $text
		opacity: 0.82
		margin-bottom: 10px
	&__cart-price
		font-family: PrataRegular, sans-serif
		font-size: 12px
		font-weight: 400
		line-height: 16px
		color: $text
		opacity: 0.82
	&__cart-rub
		color: $text
		opacity: 0.82
	&__cart-img
		max-width: 315px
	&__cart-detail
		text-decoration: none
		font-family: PlayfairDisplayRegular, sans-serif
		font-size: 16px
		font-weight: 400
		line-height: 21px
		color: $text
		padding-left: 50px
		position: relative
	&__cart-detail::before
		content: ''
		position: absolute
		width: 30px
		height: 1px
		background-color: #8B8371
		left: 0
		top: 0
		bottom: 0
		margin: auto

.quality
	background: url('../img/bg-quality.jpg') no-repeat
	background-size: cover
	background-position: center center
	height: 520px
	&__row
		padding: 0 80px
		display: grid
		grid-template-columns: repeat(2, 1fr)
		gap: 70px
		align-items: center
		height: 100%
	&__col
	&__col:first-of-type
		max-width: 520px
		position: relative
	&__title
		margin-bottom: 38px
	&__text
		font-size: 16px
		font-weight: 400
		line-height: 150%
		color: $accent
		margin-bottom: 45px
	&__btn
		background-color: #D4B098
	&__controls
		max-width: 45px
		width: 100%
		display: flex
		position: absolute
		right: 66px
		bottom: -43px
		height: 50px
	&__btn-prev
		left: -26px
		top: 28px
	&__btn-prev::after
		color: $text
		font-size: 10px
	&__btn-next
		left: 40px
		top: 28px
	&__btn-next::after
		color: $text
		font-size: 10px
	&__pagination
		font-family: Prata, sans-serif
		font-size: 12px
		font-weight: 400
		line-height: 16px
		color: $text
		opacity: 0.82
		top: 20px

.news
	display: flex
	justify-content: space-between
	align-items: center
	padding-top: 80px
	padding-bottom: 90px
	&__col

	&__title
		margin-bottom: 40px
	&__text
		font-size: 16px
		font-weight: 400
		line-height: 27px
		color: $accent
		margin-bottom: 118px
	&__social
		display: flex
		gap: 18px
		align-items: center
	&__social-link

	&__social-link_instagram
		background: url('../img/instagram-icon.svg') no-repeat
		width: 23px
		height: 24px
	&__social-link_facebook
		background: url('../img/facebook-icon.svg') no-repeat
		width: 12px
		height: 22px
	&__social-link_twitter
		background: url('../img/twitter-icon.svg') no-repeat
		width: 22px
		height: 18px
	&__img-box
		max-width: 620px
		display: grid
		grid-template-columns: 1fr 377px
		gap: 10px
	&__img
		width: 100%
		height: 100%
		object-fit: none
	&__img:nth-of-type(2)
		grid-row-start: 1
		grid-row-end: 3
		grid-column-start: 2

@import "../blocks/header/header.sass"
@import "../blocks/logo/logo.sass"
@import "../blocks/nav/nav.sass"
@import "../blocks/logo-footer/logo-footer.sass"
@import "../blocks/footer/footer.sass"
